@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter-v7-latin-regular.woff2') format('woff2'),
         url('/fonts/inter-v7-latin-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/inter-v7-latin-500.woff2') format('woff2'),
         url('/fonts/inter-v7-latin-500.woff') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/inter-v7-latin-600.woff2') format('woff2'),
         url('/fonts/inter-v7-latin-600.woff') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/inter-v7-latin-700.woff2') format('woff2'),
         url('/fonts/inter-v7-latin-700.woff') format('woff');
  }

  html {
    -webkit-tap-highlight-color: transparent;
    scrollbar-color: #3f3f46 #18181b;
  }

  ::-webkit-scrollbar {
    @apply w-2.5 rounded bg-zinc-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded bg-zinc-700;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  input[type=email] {
    font-variant-ligatures: no-contextual;
  }
}
