@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter var';
    src: url('/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  }

  html {
    -webkit-tap-highlight-color: transparent;
    scrollbar-color: #3f3f46 #18181b;
  }

  ::-webkit-scrollbar {
    @apply w-2.5 rounded bg-zinc-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded bg-zinc-700;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}
