@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter var';
    src: url('/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}
